[user]
	name = Randy Karels
	email = randy.karels@buzzfeed.com
[core]
  editor = vim
  excludesfile = /Users/randykarels/.gitignore_global
  pager = cat
[color]
  ui = true
[alias]
  co = checkout
  ci = commit
  st = status
  last = log --pretty=format:'%Cred%h%Creset%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -n 20
  type = cat-file -t
  dump = cat-file -p
  tip = log --pretty=format:'%h %ad | %s%d [%an]' --date=short --max-count=1
[push]
  default = simple
