[user]
	name = Randy Karels
	email = rkarels@sparkfun.com
[core]
	editor = vim
	excludesfile = /Users/randykarels/.gitignore_global
[color]
  ui = true
[alias]
  co = checkout
  ci = commit
  st = status
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short --since='14 days ago'
  type = cat-file -t
  dump = cat-file -p
  tip = log --pretty=format:'%h %ad | %s%d [%an]' --date=short --max-count=1
